# last modified: 10/4/2019
registry=https://registry.npmjs.org/
https-proxy=http://IMMI%5Ceximja:Frosty2!rrr@172.25.105.80:8080/
proxy=http://IMMI%5Ceximja:Frosty2!rrr@172.25.105.80:8080/
strict-ssl=false